# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
Build/

# Local assets
*.wav
Source/Core/Config.h

#For ImGui
/Source/ThirdParty/ImGui/*
!/Source/ThirdParty/ImGui/CMakeLists.txt